:root {
  --text: #e4e2e4;
  --background: #000000;
  --primary: #e9b3ea;
  --secondary: #1a140a;
  --accent: #d29914;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #1d1b1d;
    --background: #ffffff;
    --primary: #4b154c;
    --secondary: #f5efe5;
    --accent: #ebb22d;
  }
}
